@import "tailwindcss";

body {
  background-color: #1a1a1a;
  font-family: "Poppins", sans-serif !important;
  font-optical-sizing: auto !important;
}

/* Enable smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
